<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body style="font-family: monospace; background-color: #131c28;" class="text-white">
    <nav class="p-4">
        <div class="container mx-auto flex justify-between">
            <div class="font-semibold text-lg"><a href="/">FilmHouse</a></div>
            <ul class="flex">
                <li class="mx-3 text-white hover:text-gray-500"><a href="/uploadFilm">Upload Film</a></li>
                <li class="mx-3 hover:text-gray-500"><a href="/myProfile">My Profile</a></li>
                <li class="mx-3 text-white hover:text-gray-500"><a href="/logout">Log Out</a></li>
            </ul>
        </div>
    </nav>
    {{#each films as |film|}}
        <div class="container mx-auto my-8">
            <div class="max-w-2xl mx-auto bg-gray-800 rounded-lg shadow-lg overflow-hidden">
                <div class="p-4">
                    <h1>Posted by <a class="hover:text-gray-400" href="/user/{{film.user}}">{{film.user}}</a></h1>
                    <h2 class="text-xl font-bold mb-2 hover:text-gray-400"><a href="/film/{{film.filmName}}">{{film.filmName}}</a></h2>
                    <div class="flex items-center space-x-4 mb-10">
                        <a href="/vote/{{film.filmName}}/up" class="px-1 py-1 bg-green-500 text-white font-semibold rounded-lg shadow-md hover:bg-green-700 transition duration-300">
                            ↑
                        </a>
                        <h1 class="text-xl font-bold">{{film.votes}}</h1>
                        <a href="/vote/{{film.filmName}}/down" class="px-1 py-1 bg-red-500 text-white font-semibold rounded-lg shadow-md hover:bg-red-700 transition duration-300">
                            ↓
                        </a>
                    </div>
                    <iframe class="w-full h-64" src="https://www.youtube.com/embed/{{film.filmLink}}?si=75_1hpuIvAefkLVF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <p class="mt-5 text-lg font-medium"><strong>About - </strong>{{bio}}</p>
                    <div class="mt-4 mb-5">
                        {{#each contributors as |contributor|}}
                            <p><strong>{{contributor.contributorType}} - </strong> {{contributor.contributorName}}</p>
                        {{/each}}
                    </div>
                    {{#each comments as |comment|}}
                        <div class="bg-gray-700 rounded-lg p-4 mb-4" data-comment-id="{{comment._id}}">
                            <div class="flex justify-between items-center">
                                <h3 class="font-bold text-white">{{comment.postedBy}}</h3>
                                <h3 class="text-white">{{comment.commentedAt}}</h3>
                            <button type="button" onclick="setupReplyForm('{{comment._id}}')" class="text-sm text-gray-300 hover:text-gray-400">Reply</button>
                            </div>
                            <p class="text-gray-200 mt-2">{{comment.text}}</p>
                            {{#each comment.replies as |reply|}}
                                <div class="reply ml-4 bg-gray-700 rounded-lg p-4 mb-4">
                                    <div class="flex justify-between items-center">
                                        <h3 class="font-bold text-white">{{reply.postedBy}}</h3>
                                        <h3 class="text-white items-center">{{reply.repliedAt}}</h3>
                                    </div>
                                    <p class="text-gray-200 mt-2">{{reply.text}}</p>
                                </div>
                            {{/each}}
                            <form id="reply-form-{{comment._id}}" class="reply-form mt-5" style="display:none;" action="/replyComment/{{film.filmName}}" method="POST">
                                <input type="hidden" name="parentCommentId" value="{{comment._id}}">
                                <input type="text" name="reply" class="py-2 px-3 mb-3 bg-gray-800 border border-gray-600 rounded focus:outline-none focus:border-white text-white">
                                <input type="submit" value="Reply" class="bg-gray-700 hover:bg-gray-600 text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                            </form>
                        </div>
                    {{/each}}
                    <button id="loadMoreComments">Load More</button>
                </div>
                <form class="ml-5" id = "commentForm" action="/comment/{{film.filmName}}" method="POST">
                    <input type="text" name="comment" placeholder="Comment" class="py-2 px-3 mb-3 bg-gray-800 border border-gray-600 rounded focus:outline-none focus:border-white text-white">
                    <input type="submit" value="Add Comment" class="bg-gray-700 hover:bg-gray-600 text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                </form>
            </div>
        </div>
    {{/each}}
    <script>
        function setupReplyForm(commentId) {
            var formId = 'reply-form-' + commentId;
            var replyForm = document.getElementById(formId);
            if (replyForm.style.display === "none") {
                replyForm.style.display = "block";
            } else {
                replyForm.style.display = "none";
            }
        }
    </script>
</body>
</html>
